<div ng-repeat='schoolday in lessonsctrl.schooldays' on-render-finished=''>
    <div class='col-lg-3 col-md-5 col-sm-8 col-xs-12 schooldayobject'>
        <div class='container-fluid daywrapper'>
            <div class='dateheader'>
              <h3>{{schoolday.weekday}} {{schoolday.finnishdate}}</h3>
            </div>
            <div class='headers col-lg-3 col-xs-3'>
                <div class='tthour' ng-repeat='hour in lessonsctrl.hours'>
                    <h2 class='row_start_time'> {{hour}} </h2>
                </div>
            </div>
            <div class='lessonsarea col-lg-9 col-xs-9' ng-style='{height:  {{lessonsctrl.lessonsareaheight}} }'>
                <div ng-repeat='lesson in schoolday.lessons'>
                  <lesson></lesson>
                  <intersecting-lessons></intersecting-lessons>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class='col-lg-10 col-md-7 col-sm-4'></div> -->
</div>
